<h1>Events</h1>
<p>Find me in app/views/web/events/calandar.html.erb</p>
<h1>Calandar</h1>
<div class = "p-3">
    <%= month_calendar(events: @events) do |date, events| %>
        <%= date %>

        <% events.each do |event| %>
            <div>
                <%= event.title %>
            </div>
        <% end %>
    <% end %>
</div>